html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Отельные взгляды на слайдер

    link(rel="stylesheet", href="SCSS/reset.css")
    link(rel="stylesheet", href="/SCSS/style.scss")

    link(rel="stylesheet", href="/Items/slider.scss")

    //- в chai есть много всего, выносим assert в глобальную область
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js")
    script.
      mocha.setup('bdd');
    script(src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js")

    script(type="text/javascript" src='/Items/slider.js')
    script(type="text/javascript" src='/test.js')

    script.
      $(window).on("load", function () {

        $("#s2, #s4, #l1, #l2, #l3, #l8").dmx_Slider("set_new_model", 10, 100, 30, 70, 10);//модель1
        $("#s3").dmx_Slider("set_new_model", 100, 200, 100, 200).dmx_Slider("slider", true, "custom");//модель2 
        $("#s5, #s8, #l4, #l5").dmx_Slider("set_new_model", 0, 100, 10);//модель3
        $("#s6, #s7, #l6, #l7").dmx_Slider("set_new_model", 0, 100, null, 10);//модель4  

        $("#s1").dmx_Slider(true);
        $("#s2").dmx_Slider("slider", false);
        $("#s3, #s5, #s7").dmx_Slider("slider", true, "custom");
        $("#s4, #s6, #s8").dmx_Slider("slider", false, "custom");

        $("#l1").dmx_Slider("label");
        $("#l2").dmx_Slider("label", true);
        $("#l1, #l4, #l6").dmx_Slider("label", null);
        $("#l2").dmx_Slider("label", true);
        $("#l3, #l5, #l7").dmx_Slider("label", false);

        $("#l8").dmx_Slider("label", null, new Intl.NumberFormat('ru-RU', {style: 'currency', currency: "RUB"}));

        $("#s2").dmx_Slider("get_model").on("changed", function () {$("#t1").prop('checked', true)});

        console.log($("#s2").dmx_Slider("value2"));
      });



  body
    content
      div(style="display: flex")
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s1
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s3
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s5
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s7
      div
        div#s2
        div#s4
        div#s6
        div#s8
      div
        div#l1
        div#l2
        div#l3
        div#l4
        div#l5
        div#l6
        div#l7
        div#l8
      div
        input#t1(type="checkbox")

      input#m1_step(onkeypress="$(window).prop('model2').Step=this.value")

      div#mocha
      script mocha.run()