/* Double slider */
.double_slider__wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.double_slider__container_horizontal,
.double_slider__container_vertical {
  background: #FFFFFF;
  /* Dark 25% */
  
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

.double_slider__container_horizontal {
  height: 6px;
}

.double_slider__container_vertical {
  width: 6px;
//  height: 100%;
}

.double_slider__spacer_left,
.double_slider__spacer_right {
}

//Стили для шариков
.double_slider__left, .double_slider__right {
  width: 12px;
  height:12px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

//Основной стиль для центрального спейсера (можно не использовать)
.double_slider__spacer_middle_vertical,
.double_slider__spacer_middle_horizontal {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

//Стиль центрадбного спейсера для вертикальной версии
.double_slider__spacer_middle_vertical {
  width: 6px;
}

//Стиль центрадбного спейсера для горизонтальной версии
.double_slider__spacer_middle_horizontal {
  height: 6px;
}




//Стили для шкалы
.double_slider__scale_item_horizontal, .custom__scale_item_horizontal {
  height: 6px;
  width: 0px;
  border: 0.5px solid black;
}

.double_slider__scale_item_vertical, .custom__scale_item_vertical {
  height: 0px;
  width: 6px;
  border: 0.5px solid black;
}





/* Custom slider */
.custom__wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.custom__container_horizontal,
.custom__container_vertical {
  background: skyblue;
  
  border: 1px solid lightblue;
  box-sizing: border-box;

  border-radius: 3px;
}

.custom__container_horizontal {
  height: 18px;
}

.custom__container_vertical {
  width: 18px;
  //height: 100%;
}

.custom__spacer_left,
.custom__spacer_right {
}

//Стили для шариков
.custom__left, .custom__right {
  width: 12px;
  height:12px;
  background: radial-gradient(white 0%, red 100%);
  border: 3px solid red;
  border-radius: 3px;
}

.custom__left {
  width: 218px;
}

//Основной стиль для центрального спейсера (можно не использовать)
.custom__spacer_middle_vertical,
.custom__spacer_middle_horizontal {
  background-color: pink;
}

//Стиль центрадбного спейсера для вертикальной версии
.custom__spacer_middle_vertical {
  width: 18px;
}

//Стиль центрадбного спейсера для горизонтальной версии
.custom__spacer_middle_horizontal {
  height: 18px;
}